/* signUp.css */



.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url("https://wallpapercave.com/wp/T351WwT.jpg") no-repeat;
    background-size: cover; /* Ensure the background image covers the full page */
}

.form {
    max-width: 400px;
    padding: 20px;
    background:transparent;
    border-radius: 8px;
    width: 100%;
}

h2 {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .form {
        max-width: 100%;
    }
}


h2 {
    margin-bottom: 8px;
    color: #333; /* Add the desired text color */
}
.sfc{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .form {
        max-width: 100%;
    }
}
