
#signin{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.signup p{
    color: black;
}

.signup p:hover{
    color: rgb(14, 48, 171);
}

#signup{
    text-decoration: none;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .form {
        max-width: 100%;
    }
}
